@import 'SwedenSans/SwedenSansBook.css';

img.logo {
    display: none;
}

body {
    font-family: 'SwedenSans' !important;
    font-size: 17px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-family: 'SwedenSans';
font-weight: bold;
}

p {
    font-family: 'SwedenSans';
}